#video-container {
    display: block;
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
    height: 65vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
